<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--HTMLで表示するところ-->
    <section>
      <form action="#" id="form">
        <input type="text" name="word">
        <input type="submit" value="検索">
      </form>
      <p id="output"></p>
    </section>

    <script>
    'use strict';

    document.getElementById('form').onsubmit = function() {
      event.preventDefault();
      const search = document.getElementById('form').word.value;
      document.getElementById('output').textContent = '「${search}」の検索中...';
      console.log('クリックされました');
    };

    </script>
    <%= yield %>
  </body>
</html>
