<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>

    </section>
    <script>
      'use strict';

      const hour = new Date().getHours();

      if(hour >= 19 && hour < 21) {
        window.alert('お弁当30%OFF!');
      } else if(hour === 9 || hour === 15) {
        window.alert('お弁当1個買ったら1個おまけ!');
      } else {
        window.alert('お弁当はいかがですか?');
      }
    </script>
    <%= yield %>
  </body>
</html>
