<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--HTMLで表示するところ-->
    <section>
      <p>円周率は <span id="pi"></span>です。</p>
      <p>普通に切り捨てる!=<span id="floor"></span></p>
    </section>

    <script>
    'use strict';

    document.getElementById('pi').textContent = Math.PI;
    document.getElementById('floor').textContent = Math.floor(Math.PI);

    function point(num, digit) {
      const mover = 10 ** digit;
      return Math.floor(num * mover) / mover;
    }

    </script>
    <%= yield %>
  </body>
</html>
