<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--HTMLで表示するところ-->
    <section>
      <p>最終アクセス日時：<span id="time"></span></p>
    </section>

    <script>
    'use strict';
    // 日時を取得↓
    const now = new Date();
    const year = now.getFullYear();
    const month = now.getMonth();
    const date = now.getDate();
    const hour = now.getHours();
    const min = now.getMinutes();

    const output = `${year}/${month + 1}/${date} ${hour}:${min}`;
    document.getElementById('time').textContent = output;
    </script>
    <%= yield %>
  </body>
</html>
