<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--HTMLで表示するところ-->
    <section>

    </section>

    <script>
    'use strict';
    function countdown(due) {
      const now = new Date();

      const rest = due.getTime() - now.getTime();
      const sec = Math.floor(rest / 1000) % 60;
      const min = Math.floor(rest / 1000) % 60;
      const hours = Math.floor(rest / 1000 / 60 / 60) % 24;
      const days = Math.floor(rest / 1000 / 60 / 60 / 24);
      const count = [days, hours, min, sec];

      return count;
    }
    
    
    </script>
    <%= yield %>
  </body>
</html>
