<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <p id="choice">ここに日時を表示します</p>
    </section>
    <script>
      'use strict';
      document.getElementById('choice').textContent = new Date();
    </script>
    <%= yield %>
  </body>
</html>
