<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>

    </section>

    <script>
    'use strict';

    let jsbook = {title: 'JavaScript入門', price: 2500, stock: 3};

    console.log(jsbook);

    </script>
    <%= yield %>
  </body>
</html>
