<!DOCTYPE html>
<html>
  <head>
    <title>Java</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <p id="output"></p>
      <p id="output2"></p>
      <p id="output3"></p>
    </section>

    <script>
      'use strict';

      function total(price) {
        const tax = 0.1;
        return price + price * tax;
      }

      console.log('コーヒーメーカーの価格は' + total(25000) + '円（税込）です。');

      document.getElementById('output').textContent = 'コーヒーメーカーの値段は' + total(150000) + '円です。';
      document.getElementById('output2').textContent = 'カフェラテの値段は' + total(9000) + '円です!!!';
      document.getElementById('output3').textContent = 'ケーキの値段は' + total(20) + '円です？';


    </script>
    <%= yield %>
  </body>
</html>
